# Clang Format File
---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2

# Braces formatting
BreakBeforeBraces: Stroustrup

# Pointer (*) and Reference (&) formatting
DerivePointerAlignment: false
PointerAlignment: Left

# Miscellaneous formatting
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBinaryOperators: NonAssignment
IndentCaseLabels: false
SpaceAfterCStyleCast: true

# Use these foreach macros
ForEachMacros:
  - GE_FOR_ALL_DIRS
  - GE_FOR_NBR_COORDS
  - GE_FOR_NBR_DIRS
  - GE_FOR_NESW_DIRS
  - GE_MZ_FOR_ALL_CONS
  - GE_MZ_FOR_ALL_PATHS
...
